[Desktop Entry]
Comment=Mise à jour du programme TV dans Kodi
Terminal=true
Name=Mise à Jour EPG
Exec=bash '$HOME/Documents/MiseAJourEPG/MiseAJourEPG.sh'
Type=Application
Icon=$HOME/Documents/MiseAJourEPG/tvguide-logo-epg.png
