[Desktop Entry]
Comment=Mise à jour du programme TV dans Kodi
Terminal=true
Name=Mise à Jour EPG
Exec=sh -c '$HOME/.local/bin/MiseAJourEPG.sh'
Type=Application
Icon=tvguide-logo-epg.png
